/* Transition effect for main content when sidebar is toggled */
.main-content {
    transition: margin-left 0.3s ease;
}

/* Nếu sidebar mở thì main-content đẩy ra */
.ml-64 {
    margin-left: 16rem;
    /* 64px * 4 = 256px (kích thước Sidebar) */
}

/* Nếu sidebar đóng thì main-content full-width */
.ml-0 {
    margin-left: 0;
}